<div class="jumbotron bg-dark text-light" data-automation="home-page">
  <h1>Welcome</h1>
  <p class="lead">Choose one of the instances assigned to you:</p>
  <a routerLink="/instances/add" class="btn btn-success" data-automation="add-instance-button">Add instance</a>
</div>
<div class="row">
  <div *ngFor="let instance of instances" class="col-md-6 col-lg-4 col-xl-3 text-light" [attr.data-automation]="instance.name">
      <h2>{{instance.name}}</h2>
      <p>
        <a target="_blank" (click)="loginToInstance(instance)" class="btn btn-success">Login</a>
        <a target="_blank" (click)="openRemoveInstanceModal(instance)" data-toggle="modal" data-target="#confirmModal" class="btn btn-danger ml-2">Remove</a>
      </p>
  </div>
</div>

<ngx-confirm-modal 
  [title]="'Do you really want to delete instance?'" 
  (onConfirm)="removeInstance()"></ngx-confirm-modal>